@font-face {
  font-family: "VerdanaPro";
  font-weight: 300;
  src: url("/fonts/VerdanaPro-Light/VerdanaPro-Light.woff2") format("woff2"),
    url("/fonts/VerdanaPro-Light/VerdanaPro-Light.woff") format("woff");
}

@font-face {
  font-family: "VerdanaPro";
  font-weight: 400;
  src: url("/fonts/VerdanaPro-Regular/VerdanaPro-Regular.woff2") format("woff2"),
    url("/fonts/VerdanaPro-Regular/VerdanaPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "VerdanaPro";
  font-weight: 700;
  src: url("/fonts/VerdanaPro-Bold/VerdanaPro-Bold.woff2") format("woff2"),
    url("/fonts/VerdanaPro-Bold/VerdanaPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "VerdanaPro";
  font-weight: 900;
  src: url("/fonts/VerdanaPro-Black/VerdanaPro-Black.woff2") format("woff2"),
    url("/fonts/VerdanaPro-Black/VerdanaPro-Black.woff") format("woff");
}