@import "fonts";

body,
html,
#root {
  height: 100%;
  background-color: #fff;
  min-width: 850px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "VerdanaPro", sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(239, 239, 239);
  border-left: 1px solid rgb(239, 239, 239);
  border-bottom: 1px solid rgb(239, 239, 239);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(221, 221, 221);
  border-left: 1px solid rgb(239, 239, 239);
  min-height: 20px;
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(189, 189, 189);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea {
  font-family: "VerdanaPro", sans-serif;
}

button {
  font-family: "VerdanaPro", sans-serif;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  // &.fixed{
  //   overflow: hidden;
  // }
}

main {
  position: relative;
  z-index: 1;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  //max-width: 1180px;
  padding: 0 30px;
  margin: 0 auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  overflow: hidden;
  // transition: 0.6s;
  //transform: translateY(100%);
  opacity: 0;
  &.open {
    transform: translateY(0);
    animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
