.nav-panel {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  min-height: 55px;
  &__subline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
  }
  &__filters {
    display: flex;
    align-items: center;
  }
}

.submenu {
  margin-top: 8px;
  &__link {
    font-size: 16px;
    line-height: 1;
    color: #bec2c5;
    margin-right: 50px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s;
    border-bottom: 4px solid transparent;
    padding: 3px 0;
    &:last-of-type {
      margin-right: 0;
    }
    &.selected,
    &:hover {
      color: #000;
    }
    &.selected {
      border-color: #09b1f2;
    }
  }
}

.sort-icon-Az {
  span {
    font-size: 22px;
    &:first-of-type {
      font-size: 27px;
    }
  }
}

.filter-icon {
  width: 19px;
  height: 20px;
  background-image: url("/img/filter-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 25px;
}

.link-back {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__btn-back {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    background-image: url("/img/back-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    flex: 0 0 auto;
    margin-left: -15px;
    border-radius: 2px;
    &:hover {
      background-color: #f2f2f2;
    }
  }
  &__title {
    font-size: 23px;
    line-height: 1;
    font-weight: 700;
    color: #000;
    margin: 0;
    padding: 0;
  }
}
